doctype html
html(lang='en')
  meta(name='viewport', content='width=device-width')
  head
    title Three Little Pigs Estimate
    script.
      UPLOADCARE_PUBLIC_KEY = "demopublickey";
    script(src='https://ucarecdn.com/widget/2.10.2/uploadcare/uploadcare.full.min.js', charset='utf-8')
  body
    #app
    script(src='https://fb.me/react-15.0.0.js')
    script(src='https://fb.me/react-dom-15.0.0.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.30.7/react-bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')
    script(type='text/babel').
      const Button = ReactBootstrap.Button
      var Greeting = React.createClass({
      render: function() {
      return (
      <div>
      <input type="hidden" name="picture" role="uploadcare-uploader" data-tabs="file" />
      </div>
      )
      }
      });
      ReactDOM.render(
      <Greeting/>,
      document.getElementById('app')
      );
     const path = location.pathname.split('/')
     console.log(path[2]);